h1{
    text-align: center;
}

div{
    padding-top: 4px;
    padding-bottom: 4px;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

#validation-summary {
    list-style-type: square;
}

.rating-error{
    font-style: italic;
    font-weight: bolder;
    Color:Orange;
}

.price-error{
    font-style: italic;
    font-weight: bolder;
    color:purple;
}

.title-error{
    font-style: italic;
    font-weight: bolder;
    color: Red;
}